<!-- Used inside the all post handlebars -->
<div class="modal fade actions-modal upload" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-background upload"></div>
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                
                <header class="modal-header">
                    <h5 class="modal-title">Create a Post</h5>
                    <button type="button" class="delete" data-dismiss="modal" aria-label="close"></button>   
                </header>
                <br>
                    <!-- Upload image input-->
                    <div class="input-group px-3 col-md-3 modal-body">
                      <h3 class='title'>Upload an Image</h3>
                      <input id="upload" type="file" onchange="readURL(this);" name="image" value="" class="form-input">
                      <div class="input-group-append">
                      <label for="upload"><img src="./images/photo-upload.png" width="45"></label>
                      </div>
                    </div>

                <footer class="modal-footer">
                  <button type="button" class="btn btn-secondary cancel" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary delete">Post</button>
                </footer>

              </div>
            </div>
          </div>
          <div class="feed-icon px-2"><i class="text-black-50"></i></div>
        </div>
<script src="/js/newpost.js"></script>