
<div class="container mt-4 mb-5">
  <div class="d-flex justify-content-center row">
    <div class="col-md-8">
      <!-- Create a post button -->
      <div class="feed p-2">
        <button type="button" id="createBtn" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalLong">
          Create a Post
        </button>
        <!-- Create a post modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Create a Post</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <br>
              <!-- Create a post enter title -->
              <div class="form-group px-3 col-md-12">
                <textarea class="form-control" 
              id="exampleFormControlTextarea1" rows="1" placeholder="Add a Title..."></textarea>
              </div>
              <!-- Create a post enter text -->
                <div class="form-group px-3 col-md-12">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Type something..."></textarea>
                </div>
                    <!-- Upload image input-->
                    <div class="input-group px-3 col-md-2" id="modal-input">
                    <input id="upload" type="file" onchange="readURL(this);">
                    <div class="input-group-append" id="input-upload-icon">
                    <label for="upload"><img src="./images/photo-upload.png" width="45"></label>
                    </div>
                </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Post</button>
              </div>
            </div>
          </div>
        </div>
        <div class="feed-icon px-2"><i class="text-black-50"></i>
        </div>
      </div>
      <!-- First post -->
      <div class="bg-white border mt-2">
        <div>
          <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
            <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle" src="./images/avatar.jpg" width="45">
              <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold">Cory Williams</span><span class="text-black-50 time">40 minutes ago</span>
              </div>
            </div>
            <a class="dropdown" id="post-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="./images/menu.png" width="18">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Delete Post</a>
              <a class="dropdown-item" href="#">Edit Post</a>
            </div>
          </div>
        </div>
          <div class="p-2 px-3"><span>Let's talk about your favorite books.</span>
          </div>
          <div class="d-flex justify-content-end socials p-2 py-3">
          </div>
      </div>
      <!-- Likes link-->
      <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white border">
        <ul class="media-list">
          <li class="media">
            <a href="#" class="link-primary">
              <img class="like" src="./images/heart_icon_red.png" width="19">
              <medium class="align-items-center text-muted mb-3" id="likes-text" data-toggle="modal" data-target="#exampleModalComment">3 Likes
            </a>
              <!-- Likes Modal -->
              <div class="modal fade" id="exampleModalComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Likes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <br>
                    <!-- List Likes -->
                    <div class="form-group px-3 col-md-12">
                      <p id="num-of-likes">3 Likes</p>
                      <div id="likes-list">
                      <ul class="media-list">
                        <li class="media">
                          <a href="#" class="pull-left" id="like-avatar">
                            <img class="rounded-circle" src="./images/avatar.jpg" width="35">
                          </a>
                          <div class="media-body">Cory Williams
                          </div>
                        </li>
                        <br>
                        <li class="media">
                          <a href="#" class="pull-left" id="like-avatar">
                            <img class="rounded-circle" src="./images/sarah.jpg" width="35">
                          </a>
                          <div class="media-body">Sarah Walker
                          </div>
                        </li>
                        <br>
                        <li class="media">
                          <a href="#" class="pull-left" id="like-avatar">
                            <img class="rounded-circle" src="./images/jim.jpg" width="35">
                          </a>
                          <div class="media-body">Jim Thompson
                          </div>
                        </li>
                        <br>
                        <li class="media">
                          <button type="button" id="likeBtn" class="btn btn-primary btn-sm">
                            Like
                          </button>
                        </li>
                        <br>
                      </ul>
                      </div>
                  </div>
                </div>
              </div>
              <div class="feed-icon px-2"><i class="text-black-50"></i>
              </div>
            </div>
          </li>
          <br>
          <li class="media">
          <a href="#" class="pull-left" id="comment-avatar">
            <img class="rounded-circle" src="./images/avatar.jpg" width="45">
          </a>
          <div class="media-body">
            <strong>Cory Williams</strong>
            <span class="text-muted pull-right">
                <small class="text-muted">50 minutes ago</small>
            </span>
              <a class="dropdown" id="x-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="./images/down_arrow.png" width="8">
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Delete Comment</a>
            </div>
            <p>
              I'll share my list soon.
            </p>
          </div>
          </li>
          <li class="media">
            <a href="#" class="pull-left" id="comment-avatar"> 
              <img class="rounded-circle" src="./images/sarah.jpg" width="45">
            </a>
            <div class="media-body">
              <strong>Sarah Walker</strong>
              <span class="text-muted pull-right">
                  <small class="text-muted">40 minutes ago</small>
              </span>
              <a class="dropdown" id="x-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="./images/down_arrow.png" width="8">
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Delete Comment</a>
            </div>
              <p>
                I'm reading several books now.  A couple of them are interesting and I'll post a photo soon.
              </p>
            </div>
          </li>
          <li class="media">
          <a href="#" class="pull-left" id="comment-avatar">
            <img class="rounded-circle" src="./images/jim.jpg" width="45">
          </a>
          <div class="media-body">
            <strong>Jim Thompson</strong>
            <span class="text-muted pull-right">
                <small class="text-muted">30 minutes ago</small>
            </span>
            <a class="dropdown" id="x-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="./images/down_arrow.png" width="8">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Delete Comment</a>
          </div>
            <p>
              Let's do it.
            </p>
          </div>
          </li>
          <li class="media">
            <div class="feed-text ml-5 px-0 col-md-8" id="comment">
                <input class="form-control" id="commentInput" placeholder="Add a comment...">
            </div>
            <div class="feed-icon px-2"><i class="text-black-50"></i>
            </div>
            <div class="feed-text px-2">
              <button type="button" id="commentBtn" class="btn btn-primary btn-sm comment-button">Add</button>
            </div>
          </li>
        </ul>
      </div>
      <!-- Second post -->
      <div class="bg-white border mt-2">
        <div>
          <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
            <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle" src="./images/avatar.jpg" width="45">
              <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold">Cory Williams</span><span class="text-black-50 time">40 minutes ago</span>
              </div>
            </div>
            <a class="dropdown" id="post-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="./images/menu.png" width="18">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Delete Post</a>
              <a class="dropdown-item" href="#">Edit Post</a>
            </div>
          </div>
        </div>
        <div class="p-2 px-3"><span>Some oldies.</span>
        </div>
        <div class="feed-image p-2 px-3"><img class="img-fluid img-responsive" src="./images/bookstack3.png"></div>
        <div class="d-flex justify-content-end socials p-2 py-3">
        </div>
      </div>
      <!-- Add a comment to second post-->
      <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white border">
          <ul class="media-list">
          <li class="media">
            <img class="like" src="./images/heart.png" width="20">
          <medium class="align-items-center text-muted mb-3">0 Likes</medium>
          </li>
          <li class="media">
            <a href="#" class="pull-left" id="comment-avatar">
              <img class="rounded-circle" src="./images/avatar.jpg" width="45">
            </a>
            <div class="media-body">
              <strong>Cory Williams</strong>
              <span class="text-muted pull-right">
                  <small class="text-muted">48 minutes ago</small>
              </span>
              <a class="dropdown" id="x-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="./images/down_arrow.png" width="8">
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Delete Comment</a>
            </div>
              <p>
                Oldies.
              </p>
            </div>
          </li>
          <li class="media">
            <a href="#" class="pull-left" id="comment-avatar"> 
              <img class="rounded-circle" src="./images/sarah.jpg" width="45">
            </a>
            <div class="media-body">
              <strong>Sarah Walker</strong>
              <span class="text-muted pull-right">
                  <small class="text-muted">35 minutes ago</small>
              </span>
              <a class="dropdown" id="x-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="./images/down_arrow.png" width="8">
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Delete Comment</a>
            </div>
              <p>
                What are the titles of those books?  Curious to hear more about some of your favorite titles.
              </p>
            </div>
          </li>
          <li class="media">
          <a href="#" class="pull-left" id="comment-avatar">
            <img class="rounded-circle" src="./images/jim.jpg" width="45">
          </a>
          <div class="media-body">
            <strong>Jim Thompson</strong>
            <span class="text-muted pull-right">
              <small class="text-muted">32 minutes ago</small>
            </span>
            <a class="dropdown" id="x-dropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="./images/down_arrow.png" width="8">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Delete Comment</a>
          </div>
            <p>
              Interesting choices.
            </p>
          </div>
          </li>
          <li class="media">
            <div class="feed-text ml-5 px-0 col-md-8" id="comment">
                <input class="form-control" id="commentInput" placeholder="Add a comment...">
            </div>
            <div class="feed-icon px-2"><i class="text-black-50"></i>
            </div>
            <div class="feed-text px-2">
              <button type="button" id="commentBtn" class="btn btn-primary btn-sm comment-button">Add</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
