<section class=" text-center text-lg-start">
  <div class="card mb-3">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4 d-none d-lg-flex">
        <img src="assets/bookstack.png" alt="Stack of Books"
          class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">

          <form class="login-form">

            <div class="form-outline mb-4">
              <h5>Log In to Share Your Favorite Books</h5>
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="username">Username:</label>
                <input type="text" class="form-input" id="username-login"/>
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="password">Password</label>
                <input type="password" class="form-input" id="password-login"/>
            </div>
            
            <div class="form-outline mb-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>

        <br>
        <a href="/signup">Click here to sign up</a>
          
        </div>
      </div>
    </div>
  </div>
</section>

<script src="js/login.js"></script>