<!-- Sign Up Background -->
<section class=" text-center text-lg-start">
  <div class="card mb-3">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-4 d-none d-lg-flex">
        <img src="assets/bookstack.png" alt="Stack of Books"
          class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">
          <form>
            <h5>Sign Up to Begin Sharing</h5>
            <br>
            <!-- Text inputs for first and last names -->
            <div class="row">
            <div class="col-md-6 mb-4">
              <div class="form-outline">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name">
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="form-outline">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Last Name">
              </div>
            </div>
          </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
            </div>
            <!-- Password input -->
            <div class="form-outline mb-4">
              <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
            <!-- 2 column grid layout -->
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
              </div>
            </div>
            <!-- Sign Up Button -->
            <button type="button" class="btn btn-success btn-block mb-4">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="js/signup.js"></script>